Source: kalcatel
Section: comm
Priority: optional
Maintainer: Michal Cihar <cihar@email.cz>
Standards-Version: 3.2.1

Package: kalcatel
Architecture: any
Depends: ${shlibs:Depends}
Recommends: kdebase-libs
Description: KDE application to manage Alcatel 50x and 70x phone
 This application allows you to manage messages, calls, contacs, todos and
 calendar in your Alcatel One Touch 50x and 70x mobile. In fact currently is in
 this gui supported just reading of some of them but full functionality will be
 coded in future.
 .
 Protocol used by this phone is binary and not documented, so this program
 could not guarantee any functionality in your case, but it works well for me.