<!DOCTYPE kpartgui>
<kpartgui name="kalcatel" version="0.3">
<MenuBar>
  <Menu name="read_mobile"><text>Fe&amp;tch</text>
    <Action name="fetch_all"/>
    <Separator/>
    <Action name="fetch_contacts_sim"/>
    <Action name="fetch_contacts_mobile"/>
    <Action name="fetch_calendar"/>
    <Action name="fetch_calls"/>
    <Action name="fetch_messages"/>
    <Action name="fetch_todo"/>
  </Menu>
  <Menu name="new"><text>&amp;New</text>
    <Action name="new_message"/>
    <Action name="new_todo"/>
    <Action name="new_contact"/>
    <Action name="new_event"/>
  </Menu>
  <Menu name="mobile"><text>&amp;Mobile</text>
    <Action name="mobile_info"/>
    <Separator/>
    <Action name="mobile_connect"/>
    <Action name="mobile_disconnect"/>
  </Menu>
</MenuBar>
<ToolBar fullWidth="false" name="readToolBar" newline="false"><text>Fetch</text>
    <Action name="fetch_all"/>
    <Separator/>
    <Action name="fetch_contacts_sim"/>
    <Action name="fetch_contacts_mobile"/>
    <Action name="fetch_calendar"/>
    <Action name="fetch_calls"/>
    <Action name="fetch_messages"/>
    <Action name="fetch_todo"/>
</ToolBar>
<ToolBar fullWidth="false" name="newToolBar" newline="false"><text>Create new</text>
    <Action name="new_message"/>
    <Action name="new_todo"/>
    <Action name="new_contact"/>
    <Action name="new_event"/>
</ToolBar>
</kpartgui>
<!-- $Id$ -->
