<!DOCTYPE kpartgui>
<kpartgui name="kalcatel" version="0.3">
<MenuBar>
  <Menu name="read_mobile"><text>&amp;Read mobile</text>
    <Action name="file_read_mobile"/>
    <Separator/>
    <Action name="file_read_mobile_contacts_sim"/>
    <Action name="file_read_mobile_contacts_mobile"/>
    <Action name="file_read_mobile_calendar"/>
    <Action name="file_read_mobile_calls"/>
    <Action name="file_read_mobile_messages"/>
    <Action name="file_read_mobile_todo"/>
  </Menu>
  <Menu name="new"><text>&amp;New</text>
    <Action name="new_message"/>
    <Action name="new_todo"/>
    <Action name="new_contact"/>
    <Action name="new_event"/>
  </Menu>
  <Menu name="mobile"><text>&amp;Mobile</text>
    <Action name="mobile_info"/>
    <Separator/>
    <Action name="mobile_connect"/>
    <Action name="mobile_disconnect"/>
  </Menu>
</MenuBar>
<ToolBar fullWidth="false" name="readToolBar" newline="false"><text>Read from mobile</text>
    <Action name="file_read_mobile"/>
    <Separator/>
    <Action name="file_read_mobile_contacts_sim"/>
    <Action name="file_read_mobile_contacts_mobile"/>
    <Action name="file_read_mobile_calendar"/>
    <Action name="file_read_mobile_calls"/>
    <Action name="file_read_mobile_messages"/>
    <Action name="file_read_mobile_todo"/>
</ToolBar>
<ToolBar fullWidth="false" name="newToolBar" newline="false"><text>Create new</text>
    <Action name="new_message"/>
    <Action name="new_todo"/>
    <Action name="new_contact"/>
    <Action name="new_event"/>
</ToolBar>
</kpartgui>
<!-- $Id$ -->
